image:
  repository: ghcr.io/chia-network/chialisp-web
  tag: "{{ DOCKER_TAG }}"

service:
  enabled: true

ingress:
  enabled: true
  annotations:
    ingress.kubernetes.io/ssl-redirect: "true"
  hosts:
    - host: {{ REVIEW_SLUG }}.chialisp-web.chia.net
      paths:
        - path: /
          pathType: Prefix
  tlsEnabled: true
  tlsSecretName: "chialisp-web-star-tls"
