/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #3aac59;
  --ifm-color-primary-dark: #349b50;
  --ifm-color-primary-darker: #31924c;
  --ifm-color-primary-darkest: #29783e;
  --ifm-color-primary-light: #40bd62;
  --ifm-color-primary-lighter: #47c168;
  --ifm-color-primary-lightest: #61ca7e;
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}
