name: Deploy to pages on trunk

on:
  push:
    branches:
      - 'main'

jobs:
  deploy:
    runs-on: ubuntu-latest
    container: node:18-alpine
    steps:
      - name: 'Install deps'
        run: |
          apk add python3 make g++ git
      - name: Add safe Git directory
        uses: Chia-Network/actions/git-mark-workspace-safe@main
      - name: Checkout Code
        uses: actions/checkout@v5
      - name: Set up commit signing
        uses: Chia-Network/actions/commit-sign/gpg@main
        with:
          gpg_private_key: ${{ secrets.CHIA_AUTOMATION_PRIVATE_GPG_KEY }}
          passphrase: ${{ secrets.CHIA_AUTOMATION_PRIVATE_GPG_PASSPHRASE }}
      - name: 'npm install and build'
        run: |
          npm ci
          npm install
          npm run build
      - name: 'npm deploy'
        run: |
          # postBuffer documented at: https://git-scm.com/docs/git-config#Documentation/git-config.txt-httppostBuffer
          # Needed due to commit/push errors over https related to the remote hanging up unexpectedly
          git config --global http.postBuffer 10000000
          git config --global user.name 'ChiaAutomation'
          git config --global user.email 'automation@chia.net'
          GIT_USER=ChiaAutomation GIT_PASS=${{ github.token }} npm run deploy
